<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Telnet Options</key>
	<dict>
		<key>Telnet Options</key>
		<array>
			<dict>
				<key>TelnetOptionNumber</key>
				<integer>1</integer>
				<key>TelnetOptionClassname</key>
				<string>TelnetOptionEcho</string>
				<key>TelnetOptionIsSupported</key>
				<false/>
				<key>TelnetOptionHostPerforms</key>
				<string>YES</string>
			</dict>
			<dict>
				<key>TelnetOptionNumber</key>
				<integer>3</integer>
				<key>TelnetOptionClassname</key>
				<string>TelnetOptionSGA</string>
				<key>TelnetOptionIsSupported</key>
				<true/>
				<key>TelnetOptionHostPerforms</key>
				<string>YES</string>
			</dict>
			<dict>
				<key>TelnetOptionNumber</key>
				<integer>24</integer>
				<key>TelnetOptionClassname</key>
				<string>TelnetOptionTerminalType</string>
				<key>TelnetOptionIsSupported</key>
				<true/>
				<key>TelnetOptionHostPerforms</key>
				<string>YES</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
